.App {
  background-color: #111245;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

svg {
  overflow: visible;
}

svg.rotate {
  animation: spin infinite var(--cycle-speed) linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 12px;
  font-weight: bold;
}
